@import "fonts.css";
@import "colors.css";

/* direct h1 children of divs that have an id */
div[id] > h1::before {
  content: '#';
  color: var(--color-primary);
  font-size: 0.5em;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  /* negative margin should be padding + content width */
  padding-right: 16px;
  margin-left: calc(-16px - 0.65em);
}

div[id] > h1:hover::after {
  color: var(--color-primary-hover);
}

.title {
  /* text-shadow: 3px 3px var(--color-shadow); */
}

.subtitle {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.link-container {
  cursor: pointer;
}

.link-container img {
  border-radius: 16px;
  filter: brightness(70%);
  width: 100%;
  /* To support a max-height, we must add the object- params */
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}

.link-container div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 3px 3px var(--color-shadow);
}

.link-container h1 {
  margin: 0;
}

#languages {
  position: absolute;
  top: 16px;
  right: 16px;
}

#languages > a {
  /* font-family: 'Roboto', sans-serif !important; */
  /* font-style: normal !important; */
  /* font-weight: 700 !important; */
  font-size: 0.9rem;
  line-height: 1;
}

#languages>a:first-child {
  border-bottom-left-radius: 50rem;
  border-top-left-radius: 50rem;
}

#languages>a:last-child {
  border-bottom-right-radius: 50rem;
  border-top-right-radius: 50rem;
}
